In [1]:
list1 = ["Apple", 1, 3.5, True, [1, 3], {"Ready": "yes"}]

In [2]:
list_of_names = []
type(list_of_names)

list

In [3]:
my_list = list()
type(my_list)

list

In [5]:
my_list2 = list('Janu    ary') # parantez icindeki elemanın ögelrini listeler
my_list2

['J', 'a', 'n', 'u', ' ', ' ', ' ', ' ', 'a', 'r', 'y']

In [12]:
my_num_list = list((123,)) # integer degerleri iç paranteze alıyoruz hata almamak için
my_num_list

[123]

In [13]:
my_num_list

[123]

In [15]:
my_num_list.append([1,2]) # listeye eklemek için
my_num_list

[123, 2, [1, 2]]

In [16]:
my_num_list.clear() # listeyi temizlemek için
my_num_list

[]

In [20]:
list1 = [1,2]
list2 = [3,4]
list1 + list2 # toplama yapar sadece görünüştedir listeyi degiştirmez
list1

[1, 2]

In [18]:
list1.append(list2) # list1 e list2 yi liste olarak ekler
list1

[1, 2, [3, 4]]

In [19]:
list1.extend(list2) # list1 e list2 nin elemanlarını ekler
list1

[1, 2, [3, 4], 3, 4]

In [22]:
list1 = list2 # atama yapar. iki liste de aynı id ve niteliklere sahip olur

In [24]:
print(id(list1))
print(id(list2))

2375045987008
2375045987008

In [25]:
list1.append(5) # listeye eleman ekler

In [26]:
list2

[3, 4, 5]

In [28]:
list1 = []
list2 = [3,4]

In [31]:
list1 = list2.copy() # list2 yi list1 e kopyalar
list1

[3, 4]

In [32]:
list1

[3, 4]

In [35]:
list1.count('Ankara') # listenin eleman sayısını verir

0

In [38]:
list1.index(5) # parantez icindekinin indexini verir

ValueError: 5 is not in list

In [42]:
list1.append(5) # listenin sonuna 5 ekler
list1

[3, 4, 5, 5, 5]

In [43]:
list1.insert(0, 5) # 0. indexe 5 i ekler

In [44]:
list1

[5, 3, 4, 5, 5, 5]

In [47]:
list1.pop(1) #listenin 1. indexini listeden cıkarır

3

In [48]:
list1

[5, 4, 5, 5]

In [1]:
list1.remove(5) # parantez icindeki eleman eger listede varsa onu siler
list1

NameError: name 'list1' is not defined

In [54]:
list1

[4]

In [55]:
list2 = list('Engin')
list2

['E', 'n', 'g', 'i', 'n']

In [61]:
list2.reverse() # liste elemanlarını tersine cevirir.
list2

['n', 'i', 'g', 'n', 'E']

In [57]:
id(list2) # listenin id sini verir (pythonda hersey bir objedir ve her objenin bir id si vardır)

2375046182976

In [62]:
list2.sort() #sıralar asci ye göre
list2

['E', 'g', 'i', 'n', 'n']

In [65]:
my_list = ["Apple", 1, 3.5, True, [1, 3], {"Ready": "yes"}]

my_list[4][1] # listenin 4. elemanının 1. elemanını bulur

3

In [68]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

In [70]:
list1 += list2  # listeleri birleştirir. aslında list2 yi list1 e ekliyor.

In [71]:
list1

['a', 'b', 'c', 1, 2, 3]

In [72]:
list2

[1, 2, 3]

In [75]:
my_tuple = ('a',) # tuple da virgül kullanılmazsa type string olur. tuple olması icin bir elemanlı olsa bile virgül kullanılır.
type(my_tuple)

tuple

In [77]:
tuple1 = ("abc", 34, True, 40, "male", 40)
tuple1[4]

'male'

In [82]:
tuple1.count('xyz') # xyz tuple1 de yok

0

In [87]:
tuple1.index(40, 4) # 2. kırkın indexi için 4ten baslıyoruz

5

In [92]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"]

1964

In [96]:
thisdict.get('yea', 'Bu elemani bulamadim!')

'Bu elemani bulamadim!'

In [97]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [99]:
thisdict['year'] = 2023
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2023}

In [103]:
thisdict.update({'year': 1964, 'brand':'Ford2', 'color': 'red'})
thisdict

{'brand': 'Ford2', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [114]:
thisdict.pop('brand', 'Boyle bir key yok')
thisdict

{'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [117]:
# del thisdict
thisdict

NameError: name 'thisdict' is not defined

In [118]:
my_dict = {'year':2023}

In [119]:
del my_dict

In [120]:
my_dict

NameError: name 'my_dict' is not defined

In [121]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [122]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [123]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

In [124]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [126]:
my_set = {1, 3, 'elma'}
type(my_set)

set

In [127]:
my_new_set = set()
type(my_new_set)

set

In [128]:
my_new_set

set()

In [130]:
thisset = {"apple", "banana", "cherry"}
thisset.add('orange')
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [131]:
thisset.add('tomato')
thisset

{'apple', 'banana', 'cherry', 'orange', 'tomato'}

In [133]:
thisset.remove('app')
thisset

KeyError: 'app'

In [134]:
thisset

{'banana', 'cherry', 'orange', 'tomato'}

In [137]:
thisset.discard('app')

In [143]:
a = {1, 2, 3, 10, 32, 100}
b = {1, 2, 32}

a.difference(b)

{3, 10, 100}

In [140]:
a.intersection(b)

{1, 2, 32}

In [141]:
a.union(b)

{1, 2, 3, 10, 32, 100}

In [144]:
a

{1, 2, 3, 10, 32, 100}

In [147]:
a = {1, 2, 3, 10, 32, 100}
b = {1, 2, 32}

a | b

{1, 2, 3, 10, 32, 100}

In [148]:
a

{1, 2, 3, 10, 32, 100}